.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.feature {
  margin-top: 20px;
}

.featureImg {
  height: 200px;
  width: 400px;
  object-fit: contain;
  /* border-radius: 25px; */
}

.description {
  text-align: start;
}

.badge {
  color: #fff;
  background-color: #6c757d;
  display: inline-block;
  padding: 0.25em 0.4em;
  margin: 0 0.5em 1em;
  font-size: 90%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}