/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

:root {
  --ifm-color-primary: #003153;
  --ifm-color-primary-dark: #002c4b;
  --ifm-color-primary-darker: #002a47;
  --ifm-color-primary-darkest: #00223a;
  --ifm-color-primary-light: #00365b;
  --ifm-color-primary-lighter: #00385f;
  --ifm-color-primary-lightest: #00406c;
  --ifm-code-font-size: 95%;
  --ifm-footer-background: #505050;
  --docusaurus-highlighted-code-line-bg: rgba(200, 220, 250, 0.3);
}

[data-theme='dark'] {
  --ifm-color-primary: #46ddfb;
  --ifm-color-primary-dark: #27d7fa;
  --ifm-color-primary-darker: #17d4fa;
  --ifm-color-primary-darkest: #05b8dc;
  --ifm-color-primary-light: #65e3fc;
  --ifm-color-primary-lighter: #75e6fc;
  --ifm-color-primary-lightest: #a4eefd;
  --ifm-footer-background: #242526;
  --docusaurus-highlighted-code-line-bg: rgba(240, 250, 255, 0.3);
}

.menu__link {
  cursor: pointer;
}

.markdown>h2::before {
  content: "ð„ª";
  color: var(--ifm-color-primary);
  margin-right: 10px;
}

.markdown>h3 {
  padding-left: 10px;
  border-left: 4px solid var(--ifm-color-primary);
}

.markdown>h4 {
  text-decoration: underline 1px double;
  text-decoration-color: var(--ifm-color-primary);
}

.table-of-contents__left-border,
.table-of-contents li,
.table-of-contents ul {
  border: none;
  margin: 0 !important;
  padding: 0 !important;
}

.table-of-contents__link {
  border-left: var(--ifm-global-border-width) solid var(--ifm-toc-border-color);
  display: inline-block;
  padding: 0.25rem 1rem;
  transition-duration: var(--ifm-transition-slow);
  transition-property: border-color, color;
  transition-timing-function: var(--ifm-transition-timing-default);
}

.table-of-contents__link--active {
  border-left-color: var(--ifm-color-primary);
  font-weight: 500;
}

ul ul .table-of-contents__link {
  padding-left: 2rem
}

.footer {
  background-color: var(--ifm-footer-background);
}

code {
  border-radius: 0.2rem;
  padding: 0.1rem 0.25rem;
}